@*<div class="jumbotron">
        <h1>Driviato</h1>
    </div>*@
<div class="row">
    <div class="col-md-4">
        <h2>The Issue</h2>
        <br />
        <img src="../../Content/accident.jpg" alt="" width="350" />

        <br/><br />

        <img src="../../Content/HeatMapOfCaryCrashes.JPG" alt="" width="350" />
    </div>
    <div class="col-md-4">
        <h2>The Architecture</h2>
        <br />

        <img src="../../Content/4Gone.png" alt="" width="350" />
    </div>
    <div class="col-md-4">
        <h2>The Analytics</h2>
        <br />

        <img src="../../Content/LinerModelScreenShot.JPG" alt="" width="350" />

    </div>

</div>
