<div class="jumbotron">
    <h1>Driviato</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Test POST</h3>
        
        <ul>
            <li>@Html.ActionLink("Add DriverPosition", "TestPostDriverPosition")</li>
            <li>@Html.ActionLink("Get All DriverPosition", "TestGetAllDriverPositions")</li>
        </ul>        
    </div>
</div>
