<ion-view view-title="DriveSafe &gt; Dashboard">
  <ion-content class="padding account">
    <div class="list card">
      <div class="item item-divider">Payment Method</div>
      <div class="item item-body ion-item">
        <label>Card type:</label>
        <span><select><option>Visa</option></select></span>
      </div>
      <div class="item item-body ion-item">
        <label>Card number:</label>
        <span><input type="number" size="17" style="width: 90%"/></span>
      </div>
      <div class="item item-body ion-item">
        <label>Name on card:</label>
        <span><input type="text" size="50" style="width: 90%"/></span>
      </div>
    </div>
  </ion-content>
</ion-view>
